@use "../style.scss";

.group-page-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 90vh;
    width: 100vw;

    .justify-fix {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .group-name-container {
        display: flex;
        margin: 10px;

        .group-name-change-container {
            display: flex;
            margin: 20px;
            
            .save-button {
                display: flex;
                color: style.$tertiary;
                box-shadow: 2px 4px 8px rgba(0, 0, 0, .3);
                border-radius: 5px;
                padding: .2rem .4rem;
            }
        }

        
        .group-title-container {
            display: flex;
            
            .group-title {
                display: flex;
                font-size: 2rem;
                margin-right: 5px;
            }
        }
    }

    .group-code-container {
        display: flex;
        
        .group-code {
            display: flex;
            margin: 0 5px 3rem 0;
        }
    }

    .group-questions-container {
        display: flex;

        .questions-map {
            display: flex;
            flex-direction: column;

            .active-question {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: style.$tertiary;
                margin: .5rem 0;
                padding: .5rem;
                border-radius: 5px;
                min-width: 50vw;

                @media (min-width: 50em) {
                    min-width: 25vw;
                }
                
                .current {
                    display: flex;
                    justify-content: center;
                    text-decoration: none;
                    color: style.$secondary;
                    font-size: 1.5rem;
                    width: 100%;
                    
                }
            }
            }
    }

    .previous-questions {
        display: flex;
    }
    
    .group-info-footer-container {
        display: flex;
        flex-direction: column  ;
        justify-self: flex-end;

        .footer-admin-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 1rem;

            .admin-title {
                display: flex;
                font-size: 1.5rem;
            }
        }

        .footer-users-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: style.$secondary;
            border-radius: 5px;
            padding: 3px 6px;

            .users-list {
                display: flex;
                flex-direction: column;
                align-items: center;
                max-width: 75vw;

                li {
                    list-style-type: none;
                    padding: .2rem 0;
                }
            }
        }


    }

}
