@use "./style.scss";

* {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Inter', sans-serif;

}

body{
    background-color: style.$background;
    height: 100vh;
    color: style.$text;
}
button {

    font-variant-caps: all-petite-caps;
    border-radius: 2px;

    &:hover {
        background-color: MediumSeaGreen;
    }
}
input{
    background-color: Lavender;
    border: 1.5px solid black;
}
hr{
    margin: 40px;
}
.maybe-later {
    cursor: pointer;
  }

