$background: #1f2734;

$secondary: #1b1b1b;
$secondary-active: #333333;
$secondary-dark: #0a0a0a;

$tertiary: #00ffda;
$tertiary-active: #33ffe0;
$tertiary-dark: #00e0bf;

$text: #ffe7d0;

$question-background: #fff; 
$question-text:#1b1b1b;